<h1>Esta funcionando correctamente Home</h1>

<div>
{{#each products}}
    <div>
        <div>
            <img src="{{this.thumbnail}}" alt="{{this.title}}" />
        </div>
        <div>
           <h2>Producto : {{this.title}}</h2>
           <h3>Precio $ {{this.price}}</h3>
        </div>
    </div>
{{/each}}
</div>
